:root {
  --color-bg: var(--figma-color-bg);
  --color-bg-hover: var(--figma-color-bg-hover);
  --color-bg-active: var(--figma-color-bg-pressed);
  --color-bg-disabled-secondary: var(--figma-color-bg-disabled-secondary);
  --color-border: var(--figma-color-border);
  --color-border-focus: var(rgb(30,190,230));
  --color-icon: var(--figma-color-icon);
  --color-text: var(--figma-color-text);
  --color-text-on-component: var(--figma-color-text-oncomponent);
  --color-text-brand: var(--figma-color-text-onbrand);
  --color-bg-brand: var(--figma-color-bg-brand);
  --color-bg-brand-hover: var(--figma-color-bg-brand-hover);
  --color-bg-brand-active: var(--figma-color-bg-brand-pressed);
  --color-border-brand: var(--figma-color-border-brand);
  --color-border-brand-focus: var(--figma-color-border-selected-strong);
  --color-bg-inverse: var(----figma-color-bg-inverse);
  --color-bg-component: var(--figma-color-bg-component);
  --color-bg-component-hover: var(--figma-color-bg-component-hover);
  --color-bg-component-tertiary: var(--figma-color-bg-component-tertiary);
  --color-bg-tertiary: var(--figma-color-bg-tertiary);
  --color-icon-component-pressed: var(-figma-color-icon-component-pressed);
}

html,
body,
main {
  height: 100%;
}

body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  text-align: center;
}

.optionsContainer {
  box-sizing: border-box;
  height: 340px;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
}

.categoryOption__item {
  display: flex;
  width: calc(50% - 4px);
  height: 63px;
  background-color: var(--color-bg-tertiary);
  border-radius: 8px;
  overflow: hidden;
  gap: 8px;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.categoryOption__item_selected {
  border: 3px solid var(--color-bg-component);
}

.optionsContainer::-webkit-scrollbar, .select-options::-webkit-scrollbar {
  width: 6px;
}

.optionsContainer::-webkit-scrollbar-track, .select-options::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.optionsContainer::-webkit-scrollbar-thumb, .select-options::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-component);
  border-radius: 100px;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}

button {
  border-radius: 0.25rem;
  background: var(--color-bg);
  color: var(--color-text);
  cursor: pointer;
  border: 1px solid var(--color-border);
  padding: 0.5rem 2rem;
}
button:hover {
  background-color: var(--color-bg-hover);
}
button:active {
  background-color: var(--color-bg-active);
}
button:focus-visible {
  outline-color: var(--color-bg-inverse);
}

button.brand {
  --color-bg: var(--color-bg-component);
  --color-text: var(--color-text-brand);
  --color-bg-hover: var(--color-bg-component-hover);
  --color-border: transparent;
  width: 100%;
}


button.brand:disabled {
  --color-bg: var(--color-bg-disabled-secondary);
  --color-bg-hover: var(--color-bg-disabled-secondary);
  --color-bg-active: var(--color-bg-disabled-secondary);
  cursor: not-allowed;
}

input {
  background: var(--color-bg);
  border: 2px solid var(--color-border);
  color: var(--color-text);
  width: 100%;
  border-radius: 6px;
  outline: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input:focus-visible {
  border-color: var(--color-bg-component);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: baseline;
}

.input-label {
  font-size: 10px;
  color: lightslategray;
  text-align: start;
}

svg {
  stroke: var(--color-icon, rgba(0, 0, 0, 0.9));
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 12px;
  height: 100%;
  gap: 10px;
  justify-content: space-between;
  box-sizing: border-box;
}

.tab-item {
  background-color: var(--color-bg);
  color: var(--color-text);
  width: 100%;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 4px solid transparent
}

.tab-selected {
  border-bottom-color: var(--color-bg-component);
}

.pa {
  position: absolute;
}


.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-width: 3px;
  border-radius: 2px;
  border-color: var(--color-bg-component);
  border-style: dashed;
  background-color: var(--color-bg);
  color: var(--color-bg-inverse);
  outline: none;
  transition: border .24s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
}

.disabled {
  border-color: var(--color-bg-disabled-secondary);
  cursor: no-drop;
}

.dropzone-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
  gap: 8px;
  flex: 1;
}

.description {
  text-align: center;
  font-size: 12px;
  color: lightslategray;
}

.custom-select-container {
  display: inline-block;
  min-width: 250px;
  text-align: center;
  position: relative;
}

.selected-text {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 6px 20px;
  border-bottom: 2px solid var(--color-bg-component);
}

.selected-text::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 16px;
  border: 7px solid var(--color-bg-component);
  border-color: var(--color-bg-component) transparent transparent transparent;
  transition: .2s all;
}

.selected-text.active::after {
  top: 8px;
  border-color: transparent transparent var(--color-bg-component) transparent;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.select-options {
  position: absolute;
  height: 250px;
  overflow: auto;
  width: 100%;
  z-index: 2;
  padding-bottom: 15px;
}

li {
  list-style-type: none;
  padding: 6px 20px;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  cursor: pointer;
}

.selected-option {
  background-color: var(--color-bg-component-hover);
  color: var(--color-text-on-component);
}

li:hover:not(.selected-option) {
  background-color: var(--color-bg-hover);
  transition: 0.3s ease-in all;
}

